# =========================
# AI & Chatbot
# =========================
GEMINI_API_KEY=your_gemini_api_key_here

# =========================
# Storage (MinIO / S3A)
# =========================
MINIO_ENDPOINT=minio:9000
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=mypassword
MINIO_SECURE=false

ICEBERG_BUCKET=warehouse
ICEBERG_PREFIX=iceberg_warehouse/violence_events_for_rag

# =========================
# Database (MySQL Metastore)
# =========================
METASTORE_DB_USER=root
METASTORE_DB_PASSWORD=root
METASTORE_DB_NAME=metastore

# =========================
# Vector DB & Models
# =========================
CHROMA_DIR=/data/chroma
EMBEDDING_MODEL_PATH=/app/models/embedding_model

# =========================
# Kafka (Optional internal overrides)
# =========================
KAFKA_BROKER=kafka:9092
