# =========================
# AI & Chatbot
# =========================
GEMINI_API_KEY=your_gemini_api_key_here

# =========================
# Storage (MinIO / S3A)
# =========================
MINIO_ENDPOINT=minio:9000
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=mypassword
MINIO_SECURE=false

# =========================
# Database (MySQL Metastore)
# =========================
METASTORE_DB_USER=root
METASTORE_DB_PASSWORD=root
METASTORE_DB_NAME=metastore

# =========================
# Kafka (Optional internal overrides)
# =========================
KAFKA_BROKER=kafka:9092
